.DS_STORE
*.log

target/*

node_modules/*
!node_modules/gh-admins
!node_modules/gh-apps
!node_modules/gh-auth
!node_modules/gh-calendar
!node_modules/gh-context
!node_modules/gh-config
!node_modules/gh-core
!node_modules/gh-docs
!node_modules/gh-events
!node_modules/gh-groups
!node_modules/gh-orgunit
!node_modules/gh-picture
!node_modules/gh-rest
!node_modules/gh-series
!node_modules/gh-statsd
!node_modules/gh-tenants
!node_modules/gh-tests
!node_modules/gh-users
